
<div class="container">
    <h1 class="text-center">{{title}}</h1>

    <!-- episodes-list.component.html -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Season</th>
                <th>Episode</th>
                <th>Name</th>
                <th>Air Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let episode of episodes"  (click)="navigateToEpisode(episode.id)">
                <td>{{episode.episode.substring(1,3)}}</td>
                <td>{{episode.episode.substring(4)}}</td>
                <td>{{episode.name}}</td>
                <td>{{episode.air_date}}</td>
            </tr>
        </tbody>
    </table>
  
</div> 