    <!-- APIs -->
    <h2>{{ title }}s</h2>
    <p>Click on links below to get started:</p>
     
    <div class="card-container">
        <!-- Characters -->
        <a class="card" routerLink="/characters">
            <span>Ricky & Morty Characters</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
        </a>

  
      <!-- Episodes -->
      <a class="card" routerLink="/episodes">
        <span>Ricky & Morty Episodes</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
      </a>
  
      <!-- WebSocket -->
      <a class="card" routerLink="/websocket">
        <span>Websockets</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
      </a>
  
    </div>
  
  

